html{
	margin: auto;
    width: 50%;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

table {
    border: 3px solid black;
}



td {
    border: 3px solid lightgray;
}
.hidden{
        display:none;

}